__pycache__/
*.egg-info/
.vscode/
/web/*
!/web/favicon.ico
!/web/scripts/
!/web/layouts/
!/web/images/
!/web/fonts/
build/
web/images/Home_server_setup/
text/pages/projects/Home_server_setup.dj